<div class="p-3 mb-2 bg-primary text-white">
  
  <h1> <%= @user.name %> </h1>

  <p> <%= @user.contact_no %> </p>

  <ul>
    <li> <%= button_to "Edit", edit_user_path(@user),:method => :get %> </li>
  </ul> 

  <ul>    
    <li> <%= button_to "Log out" , destroy_user_session_path ,method: :delete, data:{turbo: false} %> </li>
  </ul>

<footer>
  
  <p> <%= @user.contact_no %> </p>
</footer>
  
</div>

 <h2>Reviews</h2>
<%= render @user.reviews%>
<h2>Add a comment:</h2>
<%= form_with model: [ @user, @user.reviews.build ] do |form| %>
  <p>
    <%= form.label :reviews %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p> 
<% end %>